.wrapper{
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-auto-rows:minmap(50px, auto);
	grid-column-gap: 10px;
	grid-row-gap:10px;
	grid-template-areas:
	"hd hd hd"
	". . as"
	"sec sec as"
	"sec sec ."
	"ft ft ft";
}

section{
	grid-area:sec;
}

aside{
	padding-left:30px;
	background-color: #B0E0E6; 
	grid-area: as;
	border:solid;
	border-radius:15px;
	border-color: #B0E0E6;
	color: white;
	float:right;
}

img{
	width:200px;
	height: 180px;
	clip-path:ellipse(50% 50%);
	float:left;
	
}

header{

	background-color: #B0E0E6; 
	color:white;
	grid-area:hd;
	padding-bottom:50px;
	border-radius:30px;
	padding-top: 10px;
	padding-left:20px;
}
nav { 
	
	background-color: #B0E0E6;
	padding-top: 10px;
	padding-left:20px;
	grid-area:nav;
	text-indent: 30px;
	font-size:20px;
}
 h1{
	font-size: 40px;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 30px;
	text-indent: 50px;
	

 }
 
 body{
	 font-family: Century Gothic;
	 background-color:#F0FFFF; 
 }
 
 div style{
   font-size: 15px; 
   background-color: silver;
   border:10px; 
   width:150; 
 }
 
 footer{
	background-color: black;
	color: white;
	border:10px solid black;
	grid-area:ft;
	margin: 0;
 }
